<main class="login">
  <h3>Change Password</h3>
  <form #registerForm="ngForm" (ngSubmit)="changePassword()">
    <div><div *ngIf="failed" class="error">Invalid username or password</div></div>
    <div>
      <label for="currentPassword">Current Password</label>
      <input name="currentPassword" type="password" [(ngModel)]="currentPassword"/>
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input name="newPassword" type="password" [(ngModel)]="newPassword" #passwordNgModel="ngModel" appPassword/>
      <div class="error" *ngIf="passwordNgModel.errors?.['badPassword']">
        Password must contain:
        <ul>
          <li>at least 8 characters</li>
          <li>one uppercase letter</li>
          <li>one lowercase letter</li>
          <li>one digit</li>
          <li>one special character(●!#$%&()*+,-./:;=?@[\]^_`|~])</li>
        </ul>
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm New Password</label>
      <input name="pconfirmPassword" type="password" [(ngModel)]="confirmPassword"/>
      <div class="error" *ngIf="newPassword != confirmPassword">
        Passwords do not match
      </div>
    </div>
    <div *ngIf="!passwordNgModel.errors?.['badPassword'] && newPassword == confirmPassword">
      <button type="submit">Change</button>
    </div>
  </form>
</main>
