<div class = "dashboard">
  <h2>Hello {{user.username}}</h2>
  <div class = "comments">
    <h3>Comments</h3>
    <div *ngFor="let comment of comments" class = "comment">
      <p class="commentText">{{comment.postText}}</p>
      
      <h5>{{comment.storyName}}</h5>
      <p class="commentDate">{{comment.createdAt}}</p>
      <button (click)="edit(comment._id)">Edit</button>
      <button (click)="delete(comment._id)">Delete</button>
    </div>
  </div>
  <div *ngIf="editComment">
    <form #commentForm = "ngForm" (ngSubmit)="commitComment()" class = "addComment">
      <textarea placeholder="What do you think?" name="editComment" [(ngModel)]="editComment.postText">{{editComment.postText}}</textarea><br>
      <button type="submit">Edit</button>
    </form>
  </div>
  <h3>Change Password</h3>
  <div>
    <a routerLink="/changePassword">Change</a>
  </div>
  <h3>Cancel Subscription</h3>
  <div>
    <a routerLink="/cancelation">Cancel</a>
  </div>
</div>